@tailwind base;
@tailwind components;
@tailwind utilities;


.range{
    --range-shdw: #b33234;
}

.checkbox:checked, .checkbox[checked="true"], .checkbox[aria-checked="true"] {
    background-repeat: no-repeat;
    animation: checkmark var(--animation-input, 0.2s) ease-out;
    background-color: #b33234;
    background-image: linear-gradient(-45deg, transparent 65%, #b33234 65.99%),
      linear-gradient(45deg, transparent 75%, #b33234 75.99%),
      linear-gradient(-45deg, #b33234 40%, transparent 40.99%),
      linear-gradient(
        45deg,
        #b33234 30%,
        white 30.99%,
        white 40%,
        transparent 40.99%
      ),
      linear-gradient(-45deg, white 50%, #b33234 50.99%);
}